.flexxx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardss {
    width: 50%;
    padding: 5px;
    margin: 0 0 5px 0 !important;
}

.cards-main {
    padding: 0 !important;
}

.user-name {
    color: #007FFF !important;
    text-decoration: underline;
    letter-spacing: 1.2px;
}

@media (max-width: 995px) {
    .flexxx {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .cardss {
        width: 100%;
    }
}

.hide {
    display: none;
}