.HeaderNavbar {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; */
    /* max-height: 10px; */
    /* border: 2px solid white; */
}
.navbar {
    /* max-height: 90px; */
    /* border: 2px solid white; */
}
.logo-img {
    /* border: 2px solid white; */
    /* width: auto; */
    height: 75px;
}
.navbar-wrap {
    /* border: 3px solid white; */
    /* margin: 0 !important; */
}

.nav-link {
    font-size: 20px !important;
    /* border: 1px solid red; */
    display: flex;
    padding: 0 25px 0 25px !important;
    /* white-space: nowrap; */
}

.text {
    font-size: 20px !important;    
    display: flex;
    padding: 0 10px 0 25px !important;
    /* border: 3px solid red; */
    justify-content: center;
}
.nav-link-user {
    padding: 0 !important;
    text-decoration: underline !important;
    color: #00e3ff !important;
    /* border: 3px solid red; */
    letter-spacing: 1.2px ;
}
.user-nav-wrap {
    /* border: 3px solid red; */
    display: flex;
    margin-right: 0;
}

@media (max-width: 1205px) {
    .nav-link {
        font-size: 17px !important;
        /* border: 1px solid red; */
        display: flex;
        padding: 0 15px 0 15px !important;
        /* white-space: nowrap; */
    }
    .text {
        font-size: 17px !important;    
        display: flex;
        padding: 0 8px 0 15px !important;
        /* border: 3px solid red; */
        justify-content: center;
    }
    .nav-link-user {
        padding: 0 !important;
    }
}

.nav-text {
    /* border: 3px solid white; */
    display: flex;
}