.HeaderNavbar {
}
.navbar {
}
.logo-img {
    height: 75px;
}
.navbar-wrap {
}

.nav-link {
    font-size: 20px !important;
    display: flex;
    padding: 0 25px 0 25px !important;
}

.text {
    font-size: 20px !important;    
    display: flex;
    padding: 0 10px 0 25px !important;
    justify-content: center;
}
.nav-link-user {
    padding: 0 !important;
    text-decoration: underline !important;
    color: #00e3ff !important;
    letter-spacing: 1.2px ;
}
.user-nav-wrap {
    display: flex;
    margin-right: 0;
}

@media (max-width: 1205px) {
    .nav-link {
        font-size: 17px !important;
        display: flex;
        padding: 0 15px 0 15px !important;
    }
    .text {
        font-size: 17px !important;    
        display: flex;
        padding: 0 8px 0 15px !important;
        justify-content: center;
    }
    .nav-link-user {
        padding: 0 !important;
    }
}

.nav-text {
    display: flex;
}