.flexxx {
    /* border: 3px solid black; */
    display: flex;
    /* margin-bottom: 30px; */
    flex-wrap: wrap;
    justify-content: center;
}

.cardss {
    /* border: 3px solid orange; */
    width: 50%;
    padding: 5px;
    margin: 0 0 5px 0 !important;
}

.cards-main {
    /* border: 3px solid red !important; */
    /* width: 100% !important; */
    /* padding: 50px; */
    /* margin: 50px !important; */
    /* margin: 0 !important; */
    padding: 0 !important;
}

.user-name {
    color: #007FFF !important;
    text-decoration: underline;
    letter-spacing: 1.2px;
}

@media (max-width: 995px) {
    .flexxx {
        /* border: 3px solid black; */
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .cardss {
        /* border: 3px solid orange; */
        width: 100%;
    }
}