.flex {
    display: flex;
}

.instr__container {
    max-width: 850px;
    margin: 0 auto;
}

.instr__item__wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}

.instr__item__wrapper:not(:last-child)::after {
    display: inline-block;
    content: '';
    position: absolute;
    right: -25px;
    top: 28%;
    width: 40px;
    height: 35px;
    background-image: url($./../../..//img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.instr__item {
    height: 262px;
    padding-top: 40px;
    width: 100%;
}

@media (max-width: 650px) {
    .instr__container {
        flex-direction: column;
    }
    .instr__item__wrapper {
    }
    .instr__item__wrapper:not(:last-child)::after {
        bottom: 7%;
        right: 47%;
        top: auto;
        transform: rotate(90deg);
    }
    .instr__item {
        height: 200px;
        padding-top: 0;
    }
}

.pictr {
    min-height: 90px;
}

img {
    border: 0;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

.text-description {
    text-align: center;
    padding: 0 10px 0 10px;
}

/* --------------------Форма регистрации------------------------------------------------------- */
.reg div div>div:nth-child(1):not(:last-child) {
    padding-top: 15px !important;
    margin-top: 0;
}
/* --------------------Форма регистрации------------------------------------------------------- */

/* --------------------Помогаем вам доставлять------------------------------------------------------- */
.product__container {
    max-width: 1600px;
    margin: 0 auto;
}
.product__item__wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    padding: 0 20px;
}
.product__item {
    height: 262px;
    padding-top: 40px;
    width: 100%;
}
@media (max-width: 1140px) {
    .product__container {
        flex-wrap: wrap;
        max-width: 600px;
    }
    .product__item__wrapper {
        flex-basis: 50%;
        width: 50%;
        border-radius: 10px;
    } 
    .product__item {
        height: 200px;
    }
}

/* --------------------Помогаем вам доставлять------------------------------------------------------- */

/* --------------------Слайдер------------------------------------------------------- */

@media (max-width: 1200px) {
    .carousel-wrap {
        display: none;
    }
}

.carousel__item {
    height: 800px;
}
.carousel__item>img {
    height: 100%;
}
/* --------------------Слайдер------------------------------------------------------- */
.main-body {
    background-color: #f8f1f8;
}